{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Films currently featured on the BBC iPlayer</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'film_info/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'film_info/css/1-col-portfolio.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" >iPlayer films currently available</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">BBC iPlayer Films 
                    <small>data courtesy of TMDB</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Loop through movie detail dictionary and get results -->
        {% for item in movies %}
          {% if item.overview %}
            <div class="col-md-5">
              {% if item.backdrop %}
                <a href="https://image.tmdb.org/t/p/original{{ item.backdrop }}">
                 <img class="img-responsive" src="https://image.tmdb.org/t/p/original{{ item.backdrop }}" alt="{{ item.title }}" style="width:80%;">
                </a>
              {% else %}
                <a href="{{ item.poster_url }}"> 
                  {% if item.votes %}
                    <img class="img-responsive" src="{{ item.poster_url }}" alt="{{ item.title }}" style="width:50%;">
                  {% else %}
                    <img class="img-responsive" src="{{ item.poster_url }}" alt="{{ item.title }}" style="width:80%;">
                  {% endif %}
                </a>
              {% endif %}
             </div>
             <div class="col-md-5">
                <h3>{{ item.title }}</h3>
                {% if item.votes %}
                  <h4>Rating: {{ item.votes }}/10</h4>
                  <h4>Relased: {{ item.release_date }}</h4>
                {% endif %}
                  <h4>Available until: {{ item.availability }}</h4>
                <p>{{ item.overview }}</p>
                <a class="btn btn-primary" href="{{ item.iplayer_link }}">Watch Now<span class="glyphicon glyphicon-chevron-right"></span></a>
                {% if item.votes %}
                  <a class="btn btn-primary" href="{{ item.poster_url }}">Download Poster<span class="glyphicon glyphicon-chevron-right"></span></a>
                {% endif %}
             <hr>
            </div>
            <br>
          {% endif %}
        {% endfor %}
        <!-- /.row -->


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                  <p>Thanks to BBC iPlayer and TMDB for the data displayed on this page</p>
                  <img class="img-responsive" src="http://static.bbci.co.uk/tviplayer/1.113.0/img/navigation/iplayer_pink.svg"  alt="Films from the BBC iPlayer">
                  <img class="img-responsive" src="https://assets.tmdb.org/images/logos/var_6_0_tmdb-logo-1Line-GreenGradient-Shadow-Bree.png" alt="Data courtesy of TMDB">
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'film_info/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'film_info/js/bootstrap.min.js' %}"></script>

</body>

</html>
